* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Remove the debugging border */
  /* border: 1px solid red; */
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/pattern-background-desktop.svg");
  background-color: #e0e8ff;
  background-repeat: no-repeat;
  background-size: cover; /* Adjust to cover the entire background */
}

.container-box-1 {
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
  width: 450px;
  height: 697px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Ensure content doesn't overflow rounded corners */
}

#image-1 {
  width: 100%; /* Ensure the image fits the container width */
  border-radius: 20px 20px 0 0;
}

button {
  font-family: inherit; /* Inherit the font from the container */
}

.button-1 {
  margin: 25px 0;
  height: 50px;
  width: 354px;
  border-radius: 11px;
  background: #382ae1;
  box-shadow: 0 20px 20px rgba(56, 42, 225, 0.19);
  border: none;
  color: white;
  cursor: pointer;
}

h2 {
  font-weight: 900;
  font-size: 28px;
  line-height: 37px;
  color: #1f2e55;
  margin-top: 20px;
}

.text-1 {
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  color: #717fa6;
}

.inside-box-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0;
  height: 50px;
  width: 100%; /* Make the box span the full width of the container */
  background: #f7f9ff;
}

.text-2 {
  font-weight: 900;
  font-size: 15px;
  line-height: 20px;
  color: #717fa6;
  margin: 0 10px;
}
